<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>PostNotification</key>
			<string>com.harrywantstodev.scope/settingschanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.harrywantstodev.scope</string>
			<key>key</key>
			<string>DateLine</string>
			<key>label</key>
			<string>Date on One Line</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.harrywantstodev.scope/settingschanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.harrywantstodev.scope</string>
			<key>key</key>
			<string>NoNoti</string>
			<key>label</key>
			<string>Disable &#34;No Notifications&#34;</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.harrywantstodev.scope/settingschanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.harrywantstodev.scope</string>
			<key>key</key>
			<string>NCSwipe</string>
			<key>label</key>
			<string>Show NC On First Swipe</string>
		</dict>
	</array>
	<key>title</key>
	<string>Notification Center</string>
</dict>
</plist>
